@page
@model asp_presentacion.Pages.Ventanas.SedesModel  //tener en cuanta este nombre aca
@{
    ViewData["Titulo"] = " ";

}
<center>
    <div>
        <form method="POST"
        enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Sedes</h3>
            </div>
            <div align="left"
            class="bt_panel_buttons">
                <input type="submit"
                value="Refrescar"
                asp-page-handler="BtRefrescar"
                class="btn btn-secondary"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                value="Nuevo"
                asp-page-handler="BtNuevo"
                class="btn btn-secondary"
                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                value="Guardar"
                asp-page-handler="BtGuardar"
                class="btn btn-secondary"
                disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                value="Cancelar"
                asp-page-handler="BtCancelar"
                class="btn btn-secondary"
                disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                asp-for="@Model.Actual!.nombre" />
                <input type="hidden"                        @*Campo oculto para conservar la imagen actual*@
                       asp-for="@Model.Actual!.imagen" /> 
                <input type="hidden"
                asp-for="@Model.Actual!.direccion" />


            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Sedes</h3>@*titulo  paginavv*@

                    <div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre  @*aca modifico lo de guardar en cada div*@
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                class="cts_forms form-control"
                                asp-for="@Model.Actual!.nombre" /> @*esta linea conecta con la variable del visual*@
                            </div>
                        </div>

                        <div class="col-lg-6">  @*div para insertar la imagen*@
                            <label class="col-lg-4 control-label">
                                Imagen
                            </label>
                            @if (Model.Actual!.imagen != null)
                            {
                                <img height="100"
                                width="100"
                                    src="data:image;base64.
                                    @System.Convert.ToBase64String(lib_dominio.Nucleo.EncodingHelper.ToBytes(Model.Actual!.imagen))"/>

                            }
                            <input type="file" class="form-control" asp-for ="FormFile"/>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Direccion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmTelefono"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.direccion" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">

                                @Model.Actual!.nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flnombre"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.nombre"
                       placeholder="nombre" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Nombre  aca modifico lo titulos de las columnas

                            </th>
                            <th>
                                Direccion
                            </th>

                           
                            <th>
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>

                                    <td>
                                        @elemento.nombre
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.direccion
                                    </td>

                                    <td class="cl_hidden">
                                        @if (elemento.imagen != null)
                                        {
                                            <img height="60" 
                                                width="60"
                                                 src="data:image;base64,@System.Convert.ToBase64String(lib_dominio.Nucleo.EncodingHelper.ToBytes(elemento.imagen))" />
                                        }
                                    </td>

                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>